[submodule "httplib"]
	path = 3rd_party/httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git@github.com:google/googletest.git
